.container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 1rem 1rem;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    backdrop-filter: blur(50px);
    overflow: scroll;
}

.imgContainer {
    flex: 1 1 20rem;
    display: block;
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
}

.detailsMediaWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.detailsMediaWrapper model-viewer {
    min-height: 30vh;
    width: 100%;
    border-radius: 0.25rem;
}

.detailsMediaWrapper img {
    width: 100%;
    max-width: 45rem;
    border-radius: 0.25rem;
    pointer-events: none;
    cursor: default;
}

.detailsMediaWrapper.svg {
    width: 40vw;
}

.detailsMediaWrapper video {
    border-radius: 0.25rem;
    max-height: 70vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nftInfo {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 8rem;
    gap: 1rem;
}
.nftInfo .header {
    position: relative;
    display: block;
    font-weight: 800;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #858199;
}
.nftInfo .desc {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #9D9AAD;
}

.nftInfo .button {
    display: inline-flex;
    gap: 0.5rem;
    position: relative;
    padding: 10px 16px;
    background-color: #CC0FE0;
    color: #ffffff;
    font-size: 16px;
    border-radius: 0.25rem;
}
.nftInfo .button path {
    fill: #ffffff;
}

.fadeIn {
    animation: fadeIn 0.3s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imgContainer {
        width: 100%;
        flex: none;
    }

    .nftImage {
        width: calc(100vw - 2rem);
        height: calc(100vw - 2rem);
        max-width: 18rem;
        max-height: 18rem;
    }

    .nftInfo {
        width: 100%;
        padding: 1rem 0.5rem 8rem;
    }
    .nftInfo .button {
        display: flex;
    }
}
