.imgContainer {
    position: relative;
    padding-bottom: 100%;
}

/* 1px added to height and width to remove white space showing up */
.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    transition: 0.07s ease-out;
    backface-visibility: hidden;
    opacity: 0;
}
.imageWrapper:hover {
    z-index: 2;
    cursor: pointer;
    transition: 0.17s ease-out;
    transform: perspective(1px) scale3d(1.08, 1.08, 1.08);
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* 10px added to height and width to clip border radius on certain nfts */
.image {
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    object-fit: cover;
}

.fadeIn {
    animation: fadeIn 0.3s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
