.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: var(--unit-2) 0px 0px 0px;
  width: var(--unit-12);
  height: var(--unit-12);
  pointer-events: none;
  overflow: hidden;
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--unit-1) var(--unit-1) var(--unit-2) 0px
    rgba(255, 255, 255, 0.2) inset;
  filter: drop-shadow(0px 0px var(--unit-2) rgba(0, 0, 0, 0.25));
}

.gated path {
  fill: var(--accent-blue);
}

.purchase path {
  fill: var(--special-light-green);
}

.artistPick path {
  fill: var(--secondary);
}

.hidden path {
  fill: var(--neutral);
}

.icon {
  position: absolute;
  top: var(--unit-1);
  left: var(--unit-1);
  width: var(--unit-4);
  height: var(--unit-4);
}

.icon path {
  fill: var(--static-white);
}
