.container {
  display: flex;
  transition: all 0.76 ease-in-out;
  transform: scale(1, 1);
}

.container:hover {
  transform: scale(1.05, 1.05);
}

.container:active {
  transform: scale(0.9, 0.9);
}
