.content {
  padding-bottom: 24px;
  width: 468px;
  text-align: center;
}

.helpText {
  color: var(--secondary);
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  line-height: 20px;
  margin: 24px auto;
  text-align: center;
  white-space: pre-line;
}

.signInInput {
  margin: 12px auto;
  max-width: 360px;
}
.continueButton {
  margin: 24px 0 0;
}
