.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.root.isAuthor {
  align-items: flex-end;
}

.bubble {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 448px;
  padding: var(--unit-4);
  border-radius: var(--unit-3);
  box-shadow: var(--box-shadow-near);
  color: var(--netural);
  background-color: var(--white);
}

.bubble:hover {
  background-color: var(--neutral-light-10);
  box-shadow: var(--box-shadow-far);
}

.isAuthor .bubble {
  color: var(--white);
  background-color: var(--secondary-light-2);
}

.isAuthor .bubble:hover {
  background-color: var(--secondary-light-1);
}

.text {
  word-break: break-word;
  text-align: left;
  line-height: 150%;
}

.date {
  font-size: var(--font-xs);
  color: var(--neutral-light-2);
}

.addReactionButton {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: var(--unit-8);
  height: var(--unit-8);
  bottom: -8px;
  background-color: var(--white);
  border: 1px solid var(--neutral-light-6);
  border-radius: 50%;
  cursor: pointer;
}

.root.isAuthor .addReactionButton {
  left: -8px;
}
.root:not(.isAuthor) .addReactionButton {
  right: -8px;
}

.bubble:hover .addReactionButton {
  display: flex;
}

.addReactionIcon g path {
  width: 24px;
  height: 24px;
  fill: var(--secondary);
}
