.coinbaseButton {
  --brandColor: #0052ff;
}
.stripeButton {
  --brandColor: #00aaf5;
}

/** Default **/
.button:not(:disabled) {
  background: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button .textClassName {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-2xl);
  font-weight: var(--font-demi-bold);
  text-transform: none;
}
.logo path {
  transition: all var(--quick);
  fill: var(--brandColor);
}
.button:not(:disabled) {
  border-color: var(--brandColor);
}
.button .textClassName {
  color: var(--brandColor);
}

/** Dark mode special cases **/
.button.darkMode {
  border: 1px solid var(--neutral);
}
.button.darkMode .textClassName {
  color: var(--neutral);
}
.button.darkMode .logo path {
  fill: var(--neutral);
}

/** Hover **/
.button:hover:not(:disabled) {
  transform: none;
}
.button:hover:not(:disabled) {
  background: var(--brandColor) !important;
  border-color: var(--brandColor);
}
.button:hover:not(:disabled) .textClassName {
  color: var(--static-white);
}
.button:hover:not(:disabled) .logo path {
  fill: var(--static-white);
}

/** Disabled **/
.button:disabled {
  background: var(--neutral-light-6);
}
.button:disabled .textClassName {
  color: var(--static-white);
}
.button:disabled .logo path {
  fill: var(--static-white);
}
