.container {
  display: flex;
  justify-content: stretch;
  background-color: #ED6C32;
  position: relative;
  width: 100%;
  flex: 1;
  min-height: 0px;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 8px;
}

.topSection {
  height: 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bottomSection {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.shareButton {
  position: absolute;
  right: 6px;
}

.logo {
  margin: 0px 16px;
}

.logo path {
  fill: #ffffff;
}

.shareButtonHolder {
  margin: 0px 16px 0px auto;
}

.titleContainer {
  margin: 0px auto 0px 12px;
}

.artwork {
  height: 106px;
  width: 106px;
}

.artworkWrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
