.container {
  border-radius: 8px;
  display: flex;
  justify-content: stretch;
  /* TODO add dimensions */
  /* TODO add average color */
  /* TODO MAX & MIN WIDTH */
  height: 120px;
  background-color: orange;
  position: relative;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 8px;
}

.topSection {
  height: 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bottomSection {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.shareButton {
  position: absolute;
  right: 6px;
}

.logo {
  margin: 0px 16px;
}

.logo path {
  fill: #ffffff;
}

.shareButtonHolder {
  margin: 0px 16px 0px auto;
}

.titleContainer {
  margin: 0px auto 0px 12px;
}
