.stripeLogo path {
  fill: #00aaf5;
}

.header {
  gap: 8px;
}

.icon {
  margin-bottom: 0px !important;
  /* width: 1px; */
}

.badge {
  height: 12px;
  margin-left: 4px;
}

.flexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.change {
  color: var(--accent-green);
}
.change.negative {
  color: var(--static-secondary);
}

.link {
  transition: color var(--quick);
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}
.link svg {
  width: 1em;
  height: 1em;
}
.link svg path {
  transition: fill var(--quick);
  fill: var(--neutral-light-4);
}
.link:hover {
  color: var(--secondary);
}
.link:hover svg path {
  fill: var(--secondary);
}
