.container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    overflow: visible;
}


.twitterContainer {
    flex: 0.14;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

