/**
 * Audius Type System
 *
 * When using, ensure that the Avenir Next LT Pro font-face is available.
 */

/* Begin Manual Font Imports */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/AvenirNextLTPro-UltLt.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-UltLt.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/AvenirNextLTPro-Medium.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/AvenirNextLTPro-Demi-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Demi-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/AvenirNextLTPro-Heavy.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Heavy.otf') format('opentype');
}
/* End Manual Font Imports */


:root {
  --font-family: 'Avenir Next LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

  --font-2xs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 32px;
  --font-4xl: 36px;

  --font-ultra-light: 100;
  --font-regular: 400;
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
  --font-heavy: 900;
}