.titles {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.title {
  font-size: 18px;
}

.title:hover {
  text-decoration: underline;
}

.artistName {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.artistName:hover {
  text-decoration: underline;
}

.artistName svg {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.artistName path {
  fill: #ffffff;
}
