.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.quote {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.symbolLogoContainer {
  width: 32px;
  height: 32px;
}

.symbolLogo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.quote .spinner {
  margin-left: -24px;
}

.spinner {
  width: 24px;
  height: 24px;
}
.spinner g path {
  stroke: var(--static-white) !important;
}

.heading {
  text-align: center;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
}

.confirmButton {
  width: 200px;
}

.goBack {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: var(--font-bold);
  font-size: var(--font-l);
  color: var(--neutral-light-4);
}
.goBack:hover {
  cursor: pointer;
  color: var(--secondary);
}
.goBack:hover path {
  fill: var(--secondary);
}

.error {
  font-size: var(--font-m);
  font-weight: var(--font-demi-bold);
  color: var(--accent-red);
}
