.modalBody {
  max-width: 720px;
  min-height: 320px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9147CC;
  margin-bottom: 4px;
}
