.banner {
  width: 100%;
  background: var(--page-header-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner.isElectron {
  padding-left: 240px;
}

.banner.isMobile {
  height: 72px;
}

.iconRemove {
  height: var(--unit-6);
  width: var(--unit-6);
  position: absolute;
  left: var(--unit-4);
  cursor: pointer;
}
.iconRemove:hover {
  transform: scale(1.1);
}
.iconRemove:active {
  transform: scale(0.95);
}
.iconSave g path,
.iconRemove g path {
  fill: var(--static-white);
}

.isMobile .iconRemove {
  align-self: flex-start;
  margin-top: 8px;
}
