.ctaBanner {
  user-select: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.ctaBanner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--unit-4);
  padding: var(--unit-4) 0;
}

.ctaBanner .contentSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.07s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  gap: var(--unit-2);
}

.ctaBanner:hover .contentSelection {
  border-bottom: 1px solid var(--white);
}

.pill {
  background-color: rgba(255, 255, 255, 0.4);
}

.pill .pillText {
  padding-top: 1px;
  text-transform: uppercase;
  color: var(--static-white);
}

.text {
  color: var(--static-white);
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: 100%;
  text-align: center;
}

.arrow {
  height: 20px;
  width: 20px;
}

.arrow g path {
  fill: var(--static-white);
}
