:global(#cbpay-embedded-onramp) {
  z-index: 10000;
}

.payButton {
  display: block;
  text-align: center;
}

.payButton img {
  max-width: 100%;
}

.payButton.disabled {
  filter: saturate(0);
  cursor: not-allowed;
}
