/* ===Base Styles=== */
.button {
  --button-color: var(--primary);
  --text-color: var(--static-white);
  align-items: center;
  border: 1px solid var(--button-color);
  border-radius: var(--unit-1);
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  background: var();
}

.button:focus {
  outline: none !important;
}

.button:hover {
  transition: all var(--hover);
  transform: scale(1.04);
}

.button:active {
  transition: all var(--press);
  transform: scale(0.98);
}

.icon path {
  fill: currentColor;
}

.fullWidth {
  width: 100%;
}

/* === Sizes === */

/* Small */
.button.small {
  gap: var(--unit-1);
  height: var(--unit-8);
  padding: var(--unit-2) var(--unit-3);
}

.icon.small {
  width: var(--unit-4);
  height: var(--unit4);
}

.text.small {
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  line-height: var(--unit-4);
  text-transform: capitalize;
}

/* Default */
.button.default {
  gap: var(--unit-2);
  height: var(--unit-12);
  padding: var(--unit-3) var(--unit-6);
}

.icon.default {
  width: var(--unit-5);
  height: var(--unit-5);
}

.text.default {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  line-height: calc(4.5 * var(--unit));
  text-transform: capitalize;
}

/* Large */
.button.large {
  gap: var(--unit-2);
  height: var(--unit-15);
  padding: var(--unit-5) var(--unit-6);
}

.icon.large {
  width: var(--unit-6);
  height: var(--unit-6);
}

.text.large {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  line-height: var(--unit-5);
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

/* === Color Variants === */

/* Default */
.button.default {
  --overlay-color: transparent;
  --overlay-opacity: 0;
  --text-color: var(--static-white);
  --button-color: var(--primary);
  box-shadow: var(--shadow-near);
}

/* Overlay used for hover/press styling */
.button.default::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color, transparent);
  opacity: var(--overlay-opacity, 0);
  pointer-events: none;
}

.button.default:hover {
  --overlay-color: var(--static-white);
  --overlay-opacity: 0.1;
  box-shadow: var(--shadow-mid);
}

.button.default:active {
  --overlay-color: var(--static-black);
  --overlay-opacity: 0.2;
  box-shadow: none;
}

/* Secondary */
.button.secondary {
  --button-color: var(--neutral-light-5);
  --text-color: var(--text-default);
  background: transparent;
}

.button.secondary:hover {
  --button-color: var(--primary);
  --text-color: var(--primary);
}
.button.secondary:active {
  --button-color: var(--primary-dark-2);
  --text-color: var(--primary-dark-2);
}

/* Tertiary */
.button.tertiary {
  background: var(--static-white);
  --button-color: var(--border-strong);
  --text-color: var(--secondary);
}
.button.tertiary:hover {
  --text-color: var(--secondary-light-1);
  box-shadow: var(--shadow-mid);
}
.button.tertiary:active {
  /* linear-gradient background? */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 100%
    ),
    var(--static-white);
}

/* Destructive */
.button.destructive {
}
.button.destructive:hover {
}
.button.destructive:active {
}

/* Ghost */
.button.ghost {
}
.button.ghost:hover {
}
.button.ghost:active {
}
