.root {
  /* Required for Safari */
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  border-radius: 8px;

  flex-shrink: 0;
  width: 320px;
  background: var(--neutral-light-10);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.title {
  padding: var(--unit-4);
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid var(--neutral-light-7);
}

.body {
  padding: var(--unit-4) 0;
  border-radius: 0px 0px 8px 8px;
  background: var(--white);
}

.track {
  padding: var(--unit-2) var(--unit-4);
}
.track.selected {
  background: var(--neutral-light-9);
}

.trackIndex {
  padding: var(--unit-2);
}

.artwork {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--neutral-light-7);
  background: lightgray 50% / cover no-repeat;
  border: 1px solid var(--neutral-light-8);
  transition: border ease-in-out 0.1s;
}

.completeButton {
  margin: 0 var(--unit-4);
}
