.basic {
  display: flex;
  flex-wrap: wrap;
}

.artwork {
  margin-right: 24px;
  padding-bottom: 16px;
}

.fields {
  flex: 1 auto;
  min-width: 335px;
}
.fields > div {
  margin-bottom: 14px;
}
.fields > div.description > .textArea > textarea {
  min-height: 90px;
}
.fields > div.description {
  margin-bottom: 12px;
}

.categorization {
  display: flex;
  align-items: center;
}
.categorization > div {
  flex: 1 auto;
}
.categorization > div:first-child {
  margin-right: 14px;
}
