.amount {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;

  background: linear-gradient(315deg, #5B23E1 2.04%, #A22FEB 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.label {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #C2C0CC;
  margin-left: 8px;
}


/* Global on tiles */
.tooltip :global(.ant-tooltip-content) :global(.ant-tooltip-inner) {
  background: black;
}

.tooltip :global(.ant-tooltip-content) :global(.ant-tooltip-arrow) {
  border-bottom-color: black; 
  border-right-color: black; 
}