.formContainer {
  width: 100%;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.trackEditForm {
  padding: var(--unit-4);
}

.continue {
  margin-top: var(--unit-6);
  text-align: right;
}

.continueButton .continueButtonText {
  font-weight: var(--font-bold);
  font-size: var(--font-l);
}

.multiTrackHeader {
  padding: var(--unit-4);
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid var(--neutral-light-7);
  background: var(--neutral-light-10);
}

.multiTrackFooter {
  padding: var(--unit-4);
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid var(--default-border-strong, #e7e6eb);
  background: var(--default-background-surface-1, #fcfcfc);

  justify-content: space-between;
}
